@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$primary: #eb6a5b;
$secondary: #1c5275;

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.container.is-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1215px) {
  .container.is-widescreen:not(.is-max-desktop) {
    max-width: 1152px;
  }
}

@media screen and (max-width: 1407px) {
  .container.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1344px;
  }
}

@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1344px;
  }
}

.menu-link{
  font-weight: 600;
  font-size: 14px;
  &.router-link-exact-active {
    color: #eb6a5b !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary;
}


// Layout helpers, used in layouts, references are used in the views files.

.n-layout-scroll-container {
  height: auto !important;
}

.layout-line{
  min-height: 250px;
  height: 100%;
  background-color: #eb6a5b;
}

.section-content {
  padding: 0 30px 50px 30px;
  margin: 0 auto;
}